@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&family=Lora:ital@1&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0%;
  font-family: 'Kanit', sans-serif;
}

nav{
  background-color: #e8e8e8;
}
h1 {
  font-size: 3.2em;
  text-align: center;
  margin: 25px;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: auto;
}

.restaurants > img {
  flex: 1;
  object-fit: cover;
  margin: auto;
}

.bigcard{
  padding: 10px 5px;
  margin: 3px;
 
}

.card{
   background-color: #f7f7f7;
   padding: 15px;
}


input {
  border: 1px solid;
  border-radius: 24px;
  width: 50%;
  margin: 40px;
  font-size: 20;
}

.btn{
  padding: auto;
  margin-left: 4px;
  width: 70px;
  height: 40px;
}


.title{
  height: 60px;
  margin-top: 20px;
}


.form{
  justify-content: center;
  text-align: center;
  margin: 50px;
  padding: auto;
}

.form-grop{
  margin: 10px;
  padding: 5px;
}

.form-control{
  margin: 10px;
  
}



.card-header{
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.card-add{
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

.button-search{
  margin-top: 7px;
  width: 100px;
}

card-search{
  background-color: #000000;
}
